/venv
/output
/resources/**/*
/.ipynb_checkpoints/
/.idea/
/documentation/site/
/dist/
/experiments/resources/results/
/solvers/*/binding/build/

/experiments/sample-experiment/results/sample-experiment/*
